.container {
  padding: 1rem;
}
.row {
  display: flex;
  /* border: 1px solid lightgrey; */
  min-height: 200px;
  border-radius: 5px;
  /* justify-content: space-between;  */
  align-items: center;
  flex-wrap: wrap;
  /* padding: 2rem 1rem; */
  gap: 1.75rem;
}

.dropdowndiv {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 5rem 10rem 0 0;
  gap: 1rem;
}
.selectbox {
  padding: 0.5rem;
}

.no_products {
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
}